<div style="width: 300px; margin: 0 auto;">

    <h3 style="text-align: center;">HR-MANAGER</h3>

    <div style="text-align: center;">

        <input type="text" id="userLogin" style="margin: 10px 0px;" placeholder="Login" class="form-control" required>
        <input type="password" id="userPassword" style="margin: 10px 0px;" placeholder="Hasło" class="form-control" required>
        <button type="submit" class="btn btn-primary" onClick="userLogin();">ZALOGUJ</button>
    </div>
</div>